<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .red {
        background-color: red;
      }
      .blue {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <form action="/xss-demo/security" method="post">
      {% csrf_token %}
      <label for="className">Nhap Class: </label>
      <input type="text" name="className" />
      <button type="submit">Submit</button>
    </form>
    <div
      style="
        height: 100px;
        width: 100px;
        margin-top: 20px;
        border: 2px solid black;
      "
      class={{ className }}
    ></div>
  </body>
</html>

